.ml10 {
    margin-left: 10%;
}

.ml20 {
    margin-left: 20%;
}

.ml30 {
    margin-left: 30%;
}

.ml40 {
    margin-left: 40%;
}

.ml50 {
    margin-left: 50%;
}

// right - %
.mr10 {
    margin-right: 10%;
}

.mr20 {
    margin-right: 20%;
}

.mr30 {
    margin-right: 30%;
}

.mr40 {
    margin-right: 40%;
}

.mr50 {
    margin-right: 50%;
}




//left - px
.ml-10 {
    margin-left: 10px
}

.ml-20 {
    margin-left: 20px
}

.ml-30 {
    margin-left: 30px
}

.ml-40 {
    margin-left: 40px
}

.ml-50 {
    margin-left: 50px
}


// right - px
.mr-10 {
    margin-right: 10px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-30 {
    margin-right: 30px;
}

.mr-40 {
    margin-right: 40px;
}

.mr-50 {
    margin-right: 50px;
}


//-------------------------------- top bottom ---------------

//top - %
.mt10 {
    margin-top: 10%;
}

.mt20 {
    margin-top: 20%;
}

.mt30 {
    margin-top: 30%;
}

.mt40 {
    margin-top: 40%;
}

.mt50 {
    margin-top: 50%;
}


.mb10 {
    margin-bottom: 10%;
}

.mb20 {
    margin-bottom: 20%;
}

.mb30 {
    margin-bottom: 30%;
}

.mb40 {
    margin-bottom: 40%;
}

.mb50 {
    margin-bottom: 50%;
}




.mt-10 {
    margin-top: 10px
}

.mt-20 {
    margin-top: 20px
}

.mt-30 {
    margin-top: 30px
}

.mt-40 {
    margin-top: 40px
}

.mt-50 {
    margin-top: 50px
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-50 {
    margin-bottom: 50px;
}


.m-10 {
    margin: 10px;
}

.m-20 {
    margin: 20px;
}

.m-30 {
    margin: 30px;
}

.m-40 {
    margin: 40px;
}

.m-50 {
    margin: 50px;
}